{% extends "simple_track.html" %}
{% block content %}
<img id="image" src="{{ url_for('static', filename='vibingcat.gif') }} " />
<img id="image" src="{{ url_for('static', filename='vibingcat.gif') }} " />
<img id="image" src="{{ url_for('static', filename='vibingcat.gif') }} " />
<img id="image" src="{{ url_for('static', filename='vibingcat.gif') }} " />
<br>
<br>
<h1>Welcome to the Music App!</h1>
<br>
<br>
<img id="image" src="{{ url_for('static', filename='vibingcat.gif') }} " />
<img id="image" src="{{ url_for('static', filename='vibingcat.gif') }} " />
<img id="image" src="{{ url_for('static', filename='vibingcat.gif') }} " />
<img id="image" src="{{ url_for('static', filename='vibingcat.gif') }} " />
{% endblock %}
